@import 'syndesis-sass';

:host,
.app,
main {
  height: 100%;
}

main {
  grid-area: main;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pf-c-page__header {
  color: #ffffff;
  color: #ededed;
  border-color: #bbb;
  color: #39a5dc;
  //a:link:
  color: #39a5dc;
  //a:hover:
  color: (#39a5dc, 15%);
  //background-color: 
  background-color: #282d33;
  display: flex;
  align-items: center;
  grid-area: header;
  z-index: 300;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 76px;
  //border: 1px solid red;

  .pf-c-page__header-brand {
    padding-left: 16px;
    @media (min-width: 768px) {
      padding-left: 32px;
      flex-basis: 290px;
      align-self: stretch;
      padding-right: 32px;
      background-color: rgba(#000000, .62);
    }
    .pf-c-page__header-brand-toggle {
      button.pf-c-button {
        padding: var(--pf-c-page__header-sidebar-toggle__c-button--Padding);
        margin-right: var(--pf-c-page__header-sidebar-toggle__c-button--MarginRight);
        margin-left: calc(4px * -1);
        font-size: 24px;
        line-height: 1;
        @media screen and (min-width: 768px) {
          margin-left: calc(8px * -1);
        }
        i.fas.fa-bars {

        }
      }
    }
    a.pf-c-page__header-brand-link {

    }
  }
  .pf-c-page__header-tools {
    align-items: center;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
   .pf-l-toolbar {
     .pf-l-toolbar__group {
       .pf-l-toolbar__item {

       }
     }
   }
   img.pf-c-avatar {

   }
  }
}

// Navigation bar for PF3 to PF4 conversion
.app {
  .pf-c-page__sidebar {
    grid-area: 2/1;
    @media screen and (min-width: 768px) {
      background-color: cornflowerblue;
      box-shadow: 12px 0px 10px -4px rgba(#030303, .07);
      max-width: 290px;
      flex: 1 1;
      order: 0;
      transform: translate3d(0, 0, 0);
    }
      nav.pf-c-nav {
        background-color: #ffffff;
        display: block;
        ul.pf-c-nav__simple-list {
        li.pf-c-nav__item {
          a.pf-c-nav__link {
            span.pficon {

            }
            span.list-group-item-value {

            }
          }
        }
      }
    }
  }
}

.app {
  header {
    // Navigation Bar
    .navbar.navbar-pf-vertical {
      .navbar-brand-icon.product {
        max-height: inherit;
        height: 19px;
        margin-top: -10px;
        margin-bottom: -10px;
      }

      li {
        border: 0;

        a,
        a:hover,
        a:focus {
          outline: none;
          text-decoration: none;
        }
      }

      .dropdown {
        li {
          cursor: pointer;
        }
      }

      .toggle-nav {
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        border: 0;
        border-radius: 1px;
        display: block;
        float: left;
        margin: 9px 15px;
        padding: 9px 10px;
        position: relative;

        &:focus {
          outline: -webkit-focus-ring-color 0;
          outline-color: transparent;
          outline-style: none;
        }

        .icon-bar {
          background: #d1d1d1;
          border-radius: 1px;
          display: block;
          height: 2px;
          margin-top: 4px;
          width: 22px;
        }

        .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }
    }
  }

  .nav-pf-vertical .list-group-item > a,
  .nav-pf-vertical .list-group-item.active > a,
  .nav-pf-vertical .list-group-item:hover > a {
    font-weight: inherit;
    text-decoration: none;
  }
}
