<div class="pf-c-background-image">
    <svg xmlns="http://www.w3.org/2000/svg" class="pf-c-background-image__filter" width="0" height="0">
      <filter id="image_overlay" width="">
        <feColorMatrix type="matrix" values="1 0 0 0 0
                1 0 0 0 0
                1 0 0 0 0
                0 0 0 1 0" />
        <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
          <feFuncR type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncR>
          <feFuncG type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncG>
          <feFuncB type="table" tableValues="0.086274509803922 0.43921568627451"></feFuncB>
          <feFuncA type="table" tableValues="0 1"></feFuncA>
        </feComponentTransfer>
      </filter>
    </svg>
  </div>

<div class="pf-c-page" id="page-layout-default-nav">
  <header role="banner" class="pf-c-page__header">
  
    <!-- LOGO -->
    <div class="pf-c-page__header-brand">
      <div class="pf-c-page__header-brand-toggle">
        <button class="pf-c-button pf-m-plain" id="page-layout-default-nav-nav-toggle" aria-label="Toggle primary navigation" aria-expanded="true">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <img class="pf-c-brand" [src]="loggedIn ? logoDarkBg : logoWhiteBg" alt="Syndesis Logo">
    </div>

    <div class="pf-c-page__header-tools">

      <div class="pf-c-page__header-tools-group">
        <button class="pf-c-button pf-m-plain pf-m-mobile" aria-label="Overflow actions">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <div class="pf-m-user pf-screen-reader">
          <div class="pf-c-dropdown">
            <button 
              id="helpDropdownButton" 
              class="pf-c-dropdown__toggle pf-m-plain" 
              aria-expanded="false"
              (click)="expandHelpDropdown()">
              <i class="fas fa-question-circle pf-c-dropdown__toggle-icon" aria-hidden="true"></i>
            </button>
            <ul 
              class="pf-c-dropdown__menu" 
              aria-labelledby="helpDropdownButton"
              *ngIf="helpExpanded">
                <li>
                  <a
                    class="pf-c-dropdown__menu-item" 
                    [attr.href]="'links.tutorial' | synI18n" 
                    rel="nofollow" 
                    role="link" 
                    target="_blank">{{ 'header.helpmenu.sampletutorials' | synI18n }}
                  </a>
                </li>
                <li>
                  <a 
                    [attr.href]="'links.userguide' | synI18n:' '"
                    rel="nofollow"
                    role="link"
                    target="_blank"
                    class="pf-c-dropdown__menu-item">{{ 'header.helpmenu.userguide' | synI18n }}
                  </a>
                </li>
                <li>
                  <a 
                    [attr.href]="'links.connectorsguide' | synI18n:' '"
                    rel="nofollow"
                    role="link"
                    target="_blank"
                    class="pf-c-dropdown__menu-item">{{ 'header.helpmenu.connectorsguide' | synI18n }}
                  </a>
                </li>
                <li>
                  <a 
                    routerLink="/support" 
                    role="link"  
                    class="pf-c-dropdown__menu-item">{{ 'support' | synI18n }}
                  </a>
                </li>
                <li>
                  <a href="mailto:{{ 'email' | synI18n }}"
                    rel="nofollow"
                    role="link"
                    target="_blank"
                    class="pf-c-dropdown__menu-item">{{ 'contactus' | synI18n }}
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>

      <div class="pf-c-page__header-tools-group">
          <button class="pf-c-button pf-m-plain pf-m-mobile" aria-label="Overflow actions">
            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <div class="pf-m-user pf-screen-reader">
            <div class="pf-c-dropdown">
              <button 
                id="userMenuDropdownButton" 
                class="pf-c-dropdown__toggle pf-m-plain" 
                aria-expanded="false"
                (click)="userMenuDropdown()">
                {{ ( user$ | async)?.username }}
                <img class="pf-c-avatar" src="/assets/images/img_avatar.svg" alt="Avatar Image">
              </button>
              <ul 
                class="pf-c-dropdown__menu" 
                aria-labelledby="userMenuDropdownButton"
                *ngIf="userMenuExpanded">
                <li>
                  <a
                    (click)="logout()" 
                    class="pf-c-dropdown__menu-item"                  
                    role="link">{{ 'header.usermenu.logout' | synI18n }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>

  </header>
  <aside class="pf-c-page__sidebar">
    <nav class="pf-c-nav" id="page-layout-default-nav-primary-nav" aria-label="Primary Nav Default Example">
      <ul class="pf-c-nav__list">
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link" routerLink="/" role="link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="Dashboard">
            {{ 'menu.home' | synI18n }}
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link" routerLink="integrations" role="link" routerLinkActive="active" title="Integrations">
            {{ 'menu.integrations' | synI18n }}
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link" routerLink="connections" role="link" routerLinkActive="active" title="Connections">
            {{ 'menu.connections' | synI18n }}
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link" routerLink="customizations" role="link" routerLinkActive="active" title="Customizations">
            {{ 'menu.customizations' | synI18n }}
          </a>
        </li>
        <li class="pf-c-nav__item">
          <a href="#" class="pf-c-nav__link" routerLink="settings" role="link" routerLinkActive="active" title="Settings">
            {{ 'menu.settings' | synI18n }}
          </a>
        </li>







        <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block">
          <a role="link">
            <span class="pficon pficon-user"
                  data-toggle="tooltip"
                  title="User"></span>
            <span class="list-group-item-value">{{ 'user' | synI18n }}</span>
          </a>
          <div class="nav-pf-secondary-nav">
            <div class="nav-item-pf-header">
              <a role="button" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
              <span>{{ 'user' | synI18n }}</span>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <a (click)="logout()" role="link">
                  <span class="list-group-item-value">{{ 'header.usermenu.logout' | synI18n }}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block">
          <a role="link">
            <span class="pficon pficon-help"
                  data-toggle="tooltip"
                  title="User"></span>
            <span class="list-group-item-value">{{ 'help' | synI18n }}</span>
          </a>
          <div class="nav-pf-secondary-nav">
            <div class="nav-item-pf-header">
              <a role="button" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
              <span>{{ 'help' | synI18n }}</span>
            </div>
            <ul class="list-group">
              
              
              <li class="list-group-item">
                <a routerLink="/support" role="link"  class="list-group-item-value">{{ 'support' | synI18n }}</a>
              </li>
              <li class="list-group-item">
                <a href="mailto:{{ 'email' | synI18n }}"
                  rel="nofollow"
                  role="link"
                  target="_blank"
                  class="list-group-item-value">{{ 'contactus' | synI18n }}</a>
              </li>
            </ul>
          </div>
        </li>





      </ul>
    </nav>
  </aside>
  <main role="main" class="pf-c-page__main">
    <section class="pf-c-page__main-section pf-m-light">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>